body {
    margin: 0;
    box-sizing: border-box;
}

header {
    position: static;
    top: 0;
    width: auto;
    padding: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    background: rgba(114, 172, 231, 0.7); 
    backdrop-filter: blur(10px);
    color: rgb(213, 222, 219);
    z-index: 1000;
    border-width: 2px 50px;
    border-style: dotted;
    border-color: white;
    
}
a{
    text-decoration: none;
    color:black
}
